@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
}

:root {
    /* Color */
    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* Neutral */
    --very-dark-blue-mbg: hsl(217, 54%, 11%);
    --very-dark-blue-cbg: hsl(216, 50%, 16%);
    --very-dark-blue-l: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    /* Font */
    --ff-outfit: 'Outfit', sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;
}